.SideDrawer {
  position: fixed;
  width: 45%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
@media (min-width: 850px) {
  .SideDrawer {
    display: none;
  }
}
.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}
.Logo {
  height: 11%;
  margin-bottom: 32px;
}
.SideMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: left;
  height: 100%;
}
.SideMenu li a {
  text-decoration: none;
  display: block;
  color: green;
  width: 100%;
  padding: 10px;
}
.SideMenu li span {
  text-decoration: none;
  display: block;
  color: green;
  width: 100%;
  padding: 10px;
}
.SubMenu {
  display: none;
}
.SubMenu a {
  display: block;
  text-decoration: none;
  margin-left: 20%;
  color: green;
}
.displaySubMenu {
  display: block;
}
